// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$orange-red: #FF5733;
$mandarine: #FF9933;
$lemon: #FFE500;
$brocolli: #3E8A20;
$green-fluo: #5BC331;
$cucumber: #DAF7A6;
$strawberry: #EE5455;
$grapefruit: #EF7475;
