// Define variables for your color scheme

// For example:
$red: #EE5455;
$pink: #EF7475;
$yellow: #FFE500;
$orange: #FF9933;
$orange-red: #FF5733;
$green-tree: #3E8A20;
$green-fluo: #5BC331;
$green-pastel: #DAF7A6;
$light-gray: #F4F4F4;
