.content {
      margin-top: 93px
}


h4, .h4 {
    font-size: 1.5rem;
    text-align: center;
    /* text-decoration: overline; */
    /* text-overflow: ellipsis; */
    text-overflow: ellipsis;
    /* overflow: hidden; */
    white-space: nowrap;
    background-image: url('veggies.png');
}

.value {

  p{

    margin-bottom: 3rem;
    color: #563d7c;
    font-family: 'Nunito';
    font-size: larger;
    font-weight: bolder;

  }
}
