<section>

<div class="container">
  <div class="restaurants">
    <div class="row">
      <% @dishes.each do |dish| %>
        <div class="col-12 col-md-6 col-sm-12 col-lg-3">
          <div class="card mb-3 rounded">
            <div class="d-flex justify-content-between p-3">

              <div>
                <%= link_to dish_path(dish) do %>
                <p class="text-bold"><%= dish.name %></p>
                 <% end %>
              </div>

              <div class="d-flex flex-column justify-content-end align-items-end">
              </div>

            </div>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>

</section>


