<!-- <h3><%= restaurant.name %></h3>
<p><%= restaurant.address %></p> -->

    <div class="card-content">
      <span class="card-title"><h3><%= restaurant.name %></h3></span>
           <p><%= restaurant.address %></p>
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
           <i class="fas fa-star-half-alt"></i>
    </div>



