.banner {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), image-url("https://images.unsplash.com/photo-1504754524776-8f4f37790ca0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  background-position: center;
}

.fruit {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  height: 150px;
  transition: all 2s ease;
}


.home-banner {
  position: relative;
  background-size: cover;
  height: 100vh;
  color: transparent;
  text-align: center;
  padding-top: 40vh;
  z-index: -2;
h1 {
    color: white;
    font-weight: bold;
    font-size: 45px;
    font-family: 'Nunito', sans-serif;
    margin-top: 54px;
  }

  h3{

    color: white;
  }
  p {
    color: white;
    opacity: .8;
    font-size: 22px;
    font-weight: lighter;
    margin-bottom: 32px;
    text-shadow: 1px 1px 5px black;

  }
  .btn {
    padding: 9px 32px;
    background-color: #563D7C;
    border-color: #563D7C;
    height: 37px;
  }

  .ml3 {
  font-weight: 900;
  font-size: 3.5em;
}

}





#banner-typed-text {

font-weight: bolder;

}
