.special-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    background-image: linear-gradient(rgba(0,0,0,1.8),rgba(0,0,0,-6.9)),url("https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80");
    padding: 10px 20px;
    margin-top: 60px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px solid;
    margin: 67px;
    color: white;
    background-size: cover;
    font-weight: normal;

    h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    color: white;

}
}

.btn-primary {
    color: #fff;
    background-color: #f39a3e;
    border-color: #f39a3e;
    width: 100%;
    margin-bottom: 20px;
}


.btn-danger {
    color: #fff;
    width: 100%;
    margin-bottom: 20px;
}



.display-row {

   display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    background-image: linear-gradient(rgba(0,0,0,1.8),rgba(0,0,0,-6.9)),url("https://images.unsplash.com/photo-1543362906-acfc16c67564?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=701&q=80");
    padding: 10px 20px;
    margin-top: 60px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px solid;
    margin: 67px;
    color: white;
    background-size: cover;
    font-weight: normal;

    h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    color: white;

}
}

.login-row {
  background: #ad95d030;
  padding: 10px 20px;
    margin: 50px auto;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  text-align: -webkit-center;
  width: 300px;

  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    color: white;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
    background-color: #ad95d0;
    border: none;
  }
}

.sign-up {
  background: #ad95d030;
  padding: 10px 20px;
  margin: 50px auto;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  text-align: -webkit-center;
  width: 300px;
h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    color: white;
  }
}

