.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {

  height: 100vh;
  position: sticky;
  top: 0;

  width: 30vw;
}


.mapboxgl-ctrl-geocoder--input {

  background-color: #FFE500;
  border-radius: 18px;
}

.mapboxgl-ctrl-geocoder {

  border-radius: 37px;
}

